<div class="hero-unit">
    <f:if condition="{101}">
        <f:then>
            <div class="hero">
                <f:format.html parseFuncTSPath="">{101}</f:format.html>
            </div>
        </f:then>
        <f:else>
            <div class="hero hero-bg">

            </div>
        </f:else>
    </f:if>

    <f:if condition="{102}">

        <div class="hero-header">

            <div class="grid-container">

                <div class="grid-x align-center-middle text-center">

                    <div class="small-12 medium-6 cell bg-primary pb20 pt20 pr20 pl20">

                        <f:format.html parseFuncTSPath="">{102}</f:format.html>

                    </div>
                </div>
            </div>
        </div>

    </f:if>
</div><!-- / hero-unit -->